<nav>
  <ul>
    <li>
    <a routerLink="/">
      Home
    </a>
    </li>
    <li>
    <a
      *ngIf="isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/budgets"
    >
      My Budget
    </a>
    </li>
    <li>
    <a
      *ngIf="isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/budgets"
    >
      Settings
    </a>
    </li>
    <li>
    <a

      *ngIf="!isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/login"
    >
      Login
    </a>
      </li>
      <li>
    <a
      *ngIf="isAuthenticated"
      (click)="logout()"
      routerLinkActive="active-link"
      routerLink="/login"
    >
      Logout
    </a>
    </li>
    <li>
    <a
      *ngIf="!isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/signup"
    >
      Register
    </a>
    </li>
  </ul>
</nav>

