<div class="signin-content">
  <mat-card>
    <mat-card-content>
<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
   <h1>Please login to continue</h1>
  <mat-form-field class="full-width-input">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email ID" formControlName="email" />
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
  </mat-form-field>
  <button
    
    [disabled]="!loginForm.valid"
    mat-raised-button
    type="submit"
  >
    <span>Log in</span>
  </button>
</form>
   </mat-card-content>
  </mat-card>
</div>
